*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body,html{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #31473A;
    gap:30px;
    
}
h1{
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color:white;
   &::after,&::before{
    content: " ";
   width:90px;
   height:3px;
   
   background-color: white;
position:absolute;
top:50%;
   
   } 
   &::after{
    right: -100px;
   }
   &::before{
    left: -100px;
   }
}

.main{
    border:1px solid white;
    background-color: #EDF4F2;
    width:90%;
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;

  padding:20px;
  gap:30px;
  border-radius: 10px;

   
    .box{
        position: relative;
        width:98%;
        height: 90%;
        background-color: rgb(49, 71, 58);
        color:white;
        font-size: 25px;
        border-radius: 10px;
        overflow: scroll;
        padding:20px;
        
    }
    form{
       width:80%;
      row-gap:30px;
       flex-wrap: wrap;
        display: flex;
    justify-content: center;
input{
    width:60%;
    background-color: #EDF4F2;
    border:2px solid #31473A;
    height:50px;

&:focus{
background-color: rgba(49, 71, 58,0.8);

color:white;
font-size:20px;
outline: none;
padding-left:20px;
}
}
#btn{
    width:100px;
    height:50px;
    background-color: #31473A;
    border:none;
    color:white;
    font-size: 15px;
    font-weight: 600;
}
   
select{
    height:50px;
    width:20%;
    background-color:#31473A;
    margin-left: 10px;
    color:white;
    font-size: 15px;
    font-weight: 600;

&:focus{
    outline: #31473A;
}
}

        
    }
   
}

.tasklist{
    background-color: red;
    color:white;
    height:10px;
    
}